{% extends 'base.html.twig' %}

{% block title %}
  Hello Home Page Controller!
{% endblock %}

{% block body %}
  <div class="banner">
    <img alt="Home Page"
      style="width:1520px;height:600px;"
      src="{{ asset('img/homepage.jpg') }}" />
  </div>
{% endblock %}
